@font-face { font-family: 'Century Gothic'; src: url("../css/fonts/CenturyGothic.woff2") format("woff2"), url("../css/fonts/CenturyGothic.woff") format("woff"), url("../css/fonts/CenturyGothic.ttf") format("truetype"), url("../css/fonts/CenturyGothic.svg#CenturyGothic") format("svg"); font-weight: normal; font-style: normal; }
.after { position: absolute; content: " "; display: block; left: 0; top: 0; }

a { font-size: 16px; }

a, input[type=text], .btn { -webkit-transition: all .3s ease-in-out; -moz-transition: all .3s ease-in-out; -ms-transition: all .3s ease-in-out; -o-transition: all .3s ease-in-out; transition: all .3s ease-in-out; }

.btn, .btn.focus, .btn:focus, a:hover, a:focus, a:active { box-shadow: none; outline: none; }

input.placeholder, textarea.placeholder { color: #171019; }
input:-moz-placeholder, textarea:-moz-placeholder { color: #171019; }
input::-moz-placeholder, textarea::-moz-placeholder { color: #171019; }
input:-ms-input-placeholder, textarea:-ms-input-placeholder { color: #171019; }
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { color: #171019; }

.top-title h2 { font-size: 38px; line-height: 1.4; }

.pink { color: #DD127C; }

.dark-pink { color: #7f063a; }

.purple { color: #352b7f; }

.purple-light { color: #48418b; }

.orange { color: #F9AF6B; }

.orange-dark { color: #c25b00; }

.blue { color: #1c6a94; }

.merun { color: #6B7100; }

.red-text { color: #ff2812; }

/* Slider */
.slick-slider { position: relative; display: block; box-sizing: border-box; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -ms-touch-action: pan-y; touch-action: pan-y; -webkit-tap-highlight-color: transparent; }

.slick-list { position: relative; overflow: hidden; display: block; margin: 0; padding: 0; }
.slick-list:focus { outline: none; }
.slick-list.dragging { cursor: pointer; cursor: hand; }

.slick-slider .slick-track, .slick-slider .slick-list { -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }

.slick-track { position: relative; left: 0; top: 0; display: block; margin-left: auto; margin-right: auto; }
.slick-track:before, .slick-track:after { content: ""; display: table; }
.slick-track:after { clear: both; }
.slick-loading .slick-track { visibility: hidden; }

.slick-slide { float: left; height: 100%; min-height: 1px; display: none; }
[dir="rtl"] .slick-slide { float: right; }
.slick-slide img { display: block; }
.slick-slide.slick-loading img { display: none; }
.slick-slide.dragging img { pointer-events: none; }
.slick-initialized .slick-slide { display: block; }
.slick-loading .slick-slide { visibility: hidden; }
.slick-vertical .slick-slide { display: block; height: auto; border: 1px solid transparent; }

.slick-arrow.slick-hidden { display: none; }

html, body { height: 100%; font-size: 16px; position: relative; font-family: "Century Gothic"; }

html { overflow-y: scroll; }

body { min-width: 100px; line-height: 1.3; font-style: normal; }

a { cursor: pointer; text-decoration: none; font-style: normal; }

a:hover, a:focus, a:active { text-decoration: none; font-style: normal; outline: none; }

img { border: 0; vertical-align: middle; }

ul, ol { list-style-position: inside; list-style-type: none; }

img { max-width: 100%; }

h2 { line-height: 48px; font-style: normal; }

h3 { line-height: 30px; font-style: normal; }

h4 { line-height: 25px; font-style: normal; }

h5 { line-height: 20px; font-style: normal; }

h6 { line-height: 18px; font-style: normal; }

/* ========================================================================== > header ========================================================================== */
.header { position: absolute; width: 100%; z-index: 9999; }

.navbar { padding: 30px; background-color: transparent; }

/* ==========================================================================
> banner-slider start
========================================================================== */
.img-fill { width: 100%; display: block; overflow: hidden; position: relative; text-align: center; }
.img-fill img { min-height: 100%; min-width: 100%; position: relative; display: inline-block; }

.blocks-box, .slick-slider { margin: 0; padding: 0 !important; }

.slick-slide { float: left; padding: 0; }

.banner-slider .item .img-fill { height: 100vh; background: #000; }
.banner-slider .item .img-fill .info { position: absolute; width: 100%; height: 100%; top: 0px; left: 0px; line-height: 100vh; text-align: center; }

.banner-slider .item .info > div { display: inline-block !important; vertical-align: middle; }

.banner-slider .slick-arrow { position: absolute; top: 50%; width: 45px; height: 45px; background: rgba(0, 0, 0, 0.5); border: 0 none; margin-top: -22.5px; text-align: center; font: 20px/45px FontAwesome; color: #FFF; z-index: 5; }
.banner-slider .slick-arrow:hover, .banner-slider .slick-arrow:focus { background-color: #DD127C; outline: 0; }

.banner-slider .NextArrow { right: 0px; }
.banner-slider .NextArrow:before { content: '\f105'; }

.banner-slider .PrevArrow { left: 0px; }
.banner-slider .PrevArrow:before { content: '\f104'; }

.banner-slider .slick-dots { position: absolute; height: 5px; background: rgba(255, 255, 255, 0.2); bottom: 0px; width: 100%; left: 0px; padding: 0px; margin: 0px; list-style-type: none; }
.banner-slider .slick-dots li button { display: none; }
.banner-slider .slick-dots li { float: left; width: 0px; height: 5px; background: #DD127C; position: absolute; left: 0px; bottom: 0px; }
.banner-slider .slick-dots li.slick-active { width: 100%; animation: ProgressDots 11s both; }

.banner-slider .item h2 { text-transform: uppercase; color: #DD127C; animation: fadeOutRight 1s both; padding: 0; }
.banner-slider .item h4 { padding: 0; color: #716c80; max-width: 700px; margin: 0 auto; overflow: hidden; height: 60px; animation: fadeOutLeft 1s both; }

.banner-slider .item.slick-active h2 { animation: fadeInDown 1s both 1s; }

.banner-slider .item.slick-active h4 { animation: fadeInLeft 1s both 1.5s; }

.banner-slider .item.slick-active { animation: Slick-FastSwipeIn 1s both; }

.banner-slider { background: #000; }

/* ==== Slider Image Transition === */
@keyframes Slick-FastSwipeIn { 0% { transform: rotate3d(0, 1, 0, 150deg) scale(0) perspective(400px); }
  100% { transform: rotate3d(0, 1, 0, 0deg) scale(1) perspective(400px); } }
@-webkit-keyframes ProgressDots { from { width: 0px; }
  to { width: 100%; } }
@keyframes ProgressDots { from { width: 0px; }
  to { width: 100%; } }
/* ========================================================================== > Comment start ========================================================================== */
/* ========================================================================== > Comment start ========================================================================== */

/*# sourceMappingURL=styles.css.map */
