@font-face { font-family: 'Century Gothic'; src: url("../css/fonts/CenturyGothic.woff2") format("woff2"), url("../css/fonts/CenturyGothic.woff") format("woff"), url("../css/fonts/CenturyGothic.ttf") format("truetype"), url("../css/fonts/CenturyGothic.svg#CenturyGothic") format("svg"); font-weight: normal; font-style: normal; }
.after { position: absolute; content: " "; display: block; left: 0; top: 0; }

a { font-size: 16px; }

a, input[type=text], .btn { -webkit-transition: all .3s ease-in-out; -moz-transition: all .3s ease-in-out; -ms-transition: all .3s ease-in-out; -o-transition: all .3s ease-in-out; transition: all .3s ease-in-out; }

.btn, .btn.focus, .btn:focus, a:hover, a:focus, a:active { box-shadow: none; outline: none; }

input.placeholder, textarea.placeholder { color: #000; }
input:-moz-placeholder, textarea:-moz-placeholder { color: #000; }
input::-moz-placeholder, textarea::-moz-placeholder { color: #000; }
input:-ms-input-placeholder, textarea:-ms-input-placeholder { color: #000; }
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { color: #000; }

.top-title h2 { font-size: 38px; line-height: 1.4; }

.pink { color: #DD127C; }

.dark-pink { color: #7f063a; }

.purple { color: #352b7f; }

.purple-light { color: #48418b; }

.orange { color: #F9AF6B; }

.orange-dark { color: #c25b00; }

.blue { color: #1c6a94; }

.merun { color: #6B7100; }

.red-text { color: #E60023; }

.white-text { color: #ffffff; }

.black-text { color: #000; }

.pt-80 { padding-top: 80px; }

.bg-red { background-color: #E60023; }

.bg-pink { background: #ff015b; background: linear-gradient(90deg, #ff015b 0%, #ff4f8d 41%, #fe669b 100%); }

body.modal-open { overflow: hidden; padding: 0 !important; }

.modal.show { padding: 0 !important; }

.gallery-area { padding-top: 50px; }
.gallery-area .gallery-wrap { width: 100%; }
.gallery-area .gallery-item { float: left; width: 21.05263157894737%; height: 250px; margin: 20px; display: block; transition: all 0.35s ease-in-out; position: relative; background-repeat: no-repeat; background-size: cover; background-position: center; }
.gallery-area .gallery-item a { position: relative; display: block; box-shadow: 0px 33px 95px 0px rgba(0, 0, 0, 0.15); }
.gallery-area .h-500 { height: 500px; }
.gallery-area .w-800 { width: 51.21638924455826%; }
.gallery-area .w-355 { width: 22.72727272727273%; }
.gallery-area .wt-500 { width: 26.31578947368421%; }
.gallery-area .w-614 { width: 39.30857874519846%; }
.gallery-area .h-300 { height: 300px; }
.gallery-area .h-250 { height: 250px; }
.gallery-area .h-200 { height: 200px; }
.gallery-area .wt-300 { width: 300px; }
.gallery-area .wt-250 { width: 250px; }
.gallery-area .wt-180 { width: 180px; }
.gallery-area .wt-100 { width: 100px; }
.gallery-area .wt-200 { width: 200px; }
.gallery-area .h-400 { height: 400px; }

/* ========================================================================== > sidebar nav ========================================================================== */
/* top: nav .navbar */
.header-top .header { position: fixed; width: 100%; z-index: 9; }

.header-top #menu-action { display: block; float: left; width: 60px; height: 50px; line-height: 50px; margin-right: 15px; color: #fff; text-decoration: none; text-align: center; background: rgba(0, 0, 0, 0.15); font-size: 13px; text-transform: uppercase; letter-spacing: 1px; -webkit-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; }

.header-top #menu-action i { display: inline-block; margin: 0 5px; }

.header-top #menu-action span { width: 0px; display: none; overflow: hidden; -webkit-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; }

.header-top #menu-action:hover { background: rgba(0, 0, 0, 0.25); }

.header-top #menu-action.active { width: 250px; -webkit-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; }

.header-top #menu-action.active span { display: inline; width: auto; -webkit-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; }

.sidebar { position: fixed; z-index: 10; left: 0; top: 50px; height: 100%; width: 60px; background: #fff; border-right: 1px solid #ddd; text-align: center; -webkit-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; }

.sidebar:hover, .sidebar.active, .sidebar.hovered { width: 250px; -webkit-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; }

.sidebar ul { list-style-type: none; padding: 0; margin: 0; }

.sidebar ul li { display: block; }

.sidebar ul li a { display: block; position: relative; white-space: nowrap; overflow: hidden; border-bottom: 1px solid #ddd; color: #444; text-align: left; }

.sidebar ul li a i { display: inline-block; width: 60px; height: 60px; line-height: 60px; text-align: center; -webkit-animation-duration: 0.7s; -moz-animation-duration: 0.7s; -o-animation-duration: 0.7s; animation-duration: 0.7s; -webkit-animation-fill-mode: both; -moz-animation-fill-mode: both; -o-animation-fill-mode: both; animation-fill-mode: both; }

.sidebar ul li a span { display: inline-block; height: 60px; line-height: 60px; }

.sidebar ul li a:hover { background-color: #eee; }

.main { position: relative; display: block; top: 50px; left: 0; padding: 15px; padding-left: 75px; -webkit-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; }

.main.active { padding-left: 275px; -webkit-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; }

.main .jumbotron { background-color: #fff; padding: 30px !important; border: 1px solid #dfe8f1; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }

.main .jumbotron h1 { font-size: 24px; margin: 0; padding: 0; margin-bottom: 12px; }

@-webkit-keyframes swing { 20% { -webkit-transform: rotate3d(0, 0, 1, 15deg); transform: rotate3d(0, 0, 1, 15deg); }
  40% { -webkit-transform: rotate3d(0, 0, 1, -10deg); transform: rotate3d(0, 0, 1, -10deg); }
  60% { -webkit-transform: rotate3d(0, 0, 1, 5deg); transform: rotate3d(0, 0, 1, 5deg); }
  80% { -webkit-transform: rotate3d(0, 0, 1, -5deg); transform: rotate3d(0, 0, 1, -5deg); }
  100% { -webkit-transform: rotate3d(0, 0, 1, 0deg); transform: rotate3d(0, 0, 1, 0deg); } }
@keyframes swing { 20% { -webkit-transform: rotate3d(0, 0, 1, 15deg); -ms-transform: rotate3d(0, 0, 1, 15deg); transform: rotate3d(0, 0, 1, 15deg); }
  40% { -webkit-transform: rotate3d(0, 0, 1, -10deg); -ms-transform: rotate3d(0, 0, 1, -10deg); transform: rotate3d(0, 0, 1, -10deg); }
  60% { -webkit-transform: rotate3d(0, 0, 1, 5deg); -ms-transform: rotate3d(0, 0, 1, 5deg); transform: rotate3d(0, 0, 1, 5deg); }
  80% { -webkit-transform: rotate3d(0, 0, 1, -5deg); -ms-transform: rotate3d(0, 0, 1, -5deg); transform: rotate3d(0, 0, 1, -5deg); }
  100% { -webkit-transform: rotate3d(0, 0, 1, 0deg); -ms-transform: rotate3d(0, 0, 1, 0deg); transform: rotate3d(0, 0, 1, 0deg); } }
.swing { -webkit-transform-origin: top center; -ms-transform-origin: top center; transform-origin: top center; -webkit-animation-name: swing; animation-name: swing; }

.bs-callout { padding: 20px; margin: 20px 0; border: 1px solid #eee; border-left-width: 5px; border-radius: 3px; background: white; }

table { background: white; }

.bs-callout h4 { margin-top: 0; margin-bottom: 5px; }

.bs-callout p:last-child { margin-bottom: 0; }

.bs-callout code { border-radius: 3px; }

.bs-callout + .bs-callout { margin-top: -5px; }

.bs-callout-default { border-left-color: #777; }

.bs-callout-default h4 { color: #777; }

.bs-callout-primary { border-left-color: #428bca; }

.bs-callout-primary h4 { color: #428bca; }

.bs-callout-success { border-left-color: #5cb85c; }

.bs-callout-success h4 { color: #5cb85c; }

.bs-callout-danger { border-left-color: #d9534f; }

.bs-callout-danger h4 { color: #d9534f; }

.bs-callout-warning { border-left-color: #f0ad4e; }

.bs-callout-warning h4 { color: #f0ad4e; }

.bs-callout-info { border-left-color: #5bc0de; }

.bs-callout-info h4 { color: #5bc0de; }

/* Slider */
.slick-slider { position: relative; display: block; box-sizing: border-box; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -ms-touch-action: pan-y; touch-action: pan-y; -webkit-tap-highlight-color: transparent; }

.slick-list { position: relative; overflow: hidden; display: block; margin: 0; padding: 0; }
.slick-list:focus { outline: none; }
.slick-list.dragging { cursor: pointer; cursor: hand; }

.slick-slider .slick-track, .slick-slider .slick-list { -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }

.slick-track { position: relative; left: 0; top: 0; display: block; margin-left: auto; margin-right: auto; }
.slick-track:before, .slick-track:after { content: ""; display: table; }
.slick-track:after { clear: both; }
.slick-loading .slick-track { visibility: hidden; }

.slick-slide { float: left; height: 100%; min-height: 1px; display: none; }
[dir="rtl"] .slick-slide { float: right; }
.slick-slide img { display: block; }
.slick-slide.slick-loading img { display: none; }
.slick-slide.dragging img { pointer-events: none; }
.slick-initialized .slick-slide { display: block; }
.slick-loading .slick-slide { visibility: hidden; }
.slick-vertical .slick-slide { display: block; height: auto; border: 1px solid transparent; }

.slick-arrow.slick-hidden { display: none; }

html, body { height: 100%; font-size: 16px; position: relative; font-family: Arial,sans-serif; color: #000; }

html { overflow-y: scroll; }

body { min-width: 100px; line-height: 1.3; font-style: normal; }

a { cursor: pointer; text-decoration: none; font-style: normal; }

a:hover, a:focus, a:active { text-decoration: none; font-style: normal; outline: none; }

img { border: 0; vertical-align: middle; }

ul, ol { list-style-position: inside; list-style-type: none; }

img { max-width: 100%; }

h1, h2, h3, h4, h5, h6 { padding: 20px 0; font-family: "Poppins", sans-serif; color: #000; }

h2 { line-height: 48px; font-style: normal; }

h3 { line-height: 30px; font-style: normal; }

h4 { line-height: 25px; font-style: normal; font-size: 28px; }

h5 { line-height: 20px; font-style: normal; }

h6 { line-height: 18px; font-style: normal; }

/* ========================================================================== > header ========================================================================== */
.header { position: absolute; width: 100%; z-index: 9999; }

.navbar { padding: 20px; background-color: transparent; }

a.navbar-brand { font-family: "Roboto Slab", serif; font-size: 24px; }
a.navbar-brand:hover { color: inherit; }

.navbar-expand-lg .navbar-nav .nav-link { padding: 0 10px; font-size: 16px; font-family: "Century Gothic"; color: #000; }
.navbar-expand-lg .navbar-nav .nav-link:hover { color: #E60023; }

.navbar p { margin: 0; color: #000; }
.navbar p > a { background-color: transparent; color: #000; }
.navbar p > a:hover { color: #E60023; }
.navbar .form-inline .form-group { background: transparent; border: 1px solid #000; border-radius: 20px; padding: 0px; }
.navbar .form-inline .form-control { background: transparent; border: 0; font-size: 14px; font-family: "Century Gothic"; padding: 3px; border-radius: 20px; color: #000; outline: 0; }
.navbar .form-inline .form-control::placeholder { color: #000; }
.navbar .form-inline .form-control::-moz-placeholder { color: #000; }
.navbar .form-inline .form-control::-webkit-input-placeholder { color: #000; }
.navbar .form-inline .form-control:focus { outline: 0; border: 0; box-shadow: none; }
.navbar .form-inline i { font-size: 16px; margin-right: 8px; }

.navbar-toggler { padding: 0; outline: 0; }
.navbar-toggler:focus { outline: 0; }

button[aria-expanded="true"] { color: #E60023; }

.header.bg-red .navbar-toggler, .header.bg-pink .navbar-toggler { padding-right: 30px; }
.header.bg-red .navbar, .header.bg-pink .navbar { padding: 0; }
.header.bg-red button[aria-expanded="true"], .header.bg-pink button[aria-expanded="true"] { color: #ffffff; }
.header.bg-red .navbar-expand-lg .navbar-nav .nav-link, .header.bg-pink .navbar-expand-lg .navbar-nav .nav-link { padding: 30px 10px; font-size: 16px; font-family: "Century Gothic"; color: #000; }
.header.bg-red .navbar-expand-lg .navbar-nav .nav-link:hover, .header.bg-pink .navbar-expand-lg .navbar-nav .nav-link:hover { color: #ffffff; }
.header.bg-red .navbar-expand-lg .nav-item.active .nav-link, .header.bg-pink .navbar-expand-lg .nav-item.active .nav-link { color: #ffffff; }
.header.bg-red .navbar p > a:hover, .header.bg-pink .navbar p > a:hover { color: #ffffff; }
.header.bg-red .navbar-brand, .header.bg-pink .navbar-brand { width: 80px; height: 80px; padding: 15px 0; background-color: #ffffff; margin-right: 75px; }
.header.bg-red .form-inline, .header.bg-pink .form-inline { padding-right: 75px; }

.circle-logo { width: 50px; height: 50px; border-radius: 50%; border: 1px solid #ffffff; background-color: #E60023; text-align: center; margin: 0 auto; display: block; color: #ffffff; line-height: 46px; font-size: 16px; }

/* ==========================================================================
> communities start
========================================================================== */
.communities { position: relative; padding: 20px 0 105px 0; background-color: #dddddd; }
.communities .container { max-width: 1200px; }
.communities h5 { font-size: 18px; padding: 30px 0; }
.communities span { color: #8a8a8a; }

.community-box { border: 1px solid #000; min-height: 650px; border-radius: 40px; background-color: #ffffff; }

/* ==========================================================================
> slider-area start
========================================================================== */
.slider-area { height: 100vh; width: 100%; flex-wrap: wrap; z-index: 100; position: relative; display: block; box-sizing: border-box; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -webkit-touch-callout: none; -khtml-user-select: none; -ms-touch-action: pan-y; touch-action: pan-y; -webkit-tap-highlight-color: transparent; opacity: 1; }
.slider-area > div { height: 100vh; }
.slider-area .slick-slider { margin-bottom: 0; }
.slider-area .slick-slide { outline: none; background-size: cover; height: 100vh; top: 0; bottom: 0; left: 0; position: relative; border: 0; }
.slider-area .slide { background-position: center center; background-repeat: no-repeat; background-color: transparent; background-size: cover; height: 100vh; outline: none; overflow: hidden; }
.slider-area .item:nth-child(2) .slide:before { content: ''; background-color: rgba(2, 3, 3, 0.73); width: 100%; height: 100%; position: absolute; left: 0; right: 0; display: block; margin: 0 auto; }
.slider-area .slick-dots { margin: 0 auto; text-align: center; bottom: 167px; z-index: 1; position: absolute; left: 2%; padding: 0; width: 30px; }
.slider-area .slick-dots li { display: inline-block; margin: 8px 0px; }
.slider-area .slick-dots li button { height: 20px; width: 20px; background-color: transparent; border: 1px solid #fff; border-radius: 50%; box-shadow: none; outline: none; text-indent: -9999px; }
.slider-area .slick-dots li button:before { display: none; }
.slider-area .slick-dots li.slick-active button { background-color: white; }

.slick-dotted.slick-slider { margin: 0; z-index: 0; }

.caption .custom-btn { background-color: #E60023; color: #ffffff; font-size: 14px; font-family: "Century Gothic"; font-weight: 400; width: auto; outline: none; box-shadow: none; border-radius: 8px; padding: 8px 30px; display: inline-block; border: none; }
.caption h1 { font-weight: 300; }

.caption .circle { width: 150px; height: 150px; margin: 0 auto; border: 1px solid #ffffff; border-radius: 50%; }
.caption .circle h1 { line-height: 110px; margin: 0; font-size: 70px; font-weight: 300; }

.first-header { width: 100%; z-index: 9999; background-color: #fff; }

.app-button { width: 410px; margin: 0 auto; padding: 20px 0; }
.app-button div { background-repeat: no-repeat; background-position: center; background-size: cover; width: 200px; height: 65px; padding: 10px; border-radius: 6px; }

.align-items-center.caption .container { max-width: 700px; margin: 0 auto; }
.align-items-center.caption p.content-box { max-width: 400px; margin: 0 auto; line-height: 1.5; }

.black-circle { width: 60px; height: 60px; border-radius: 50%; border: 1px solid #000; text-align: center; margin-bottom: 10px; }
.black-circle h2 { margin: 0; line-height: 1; font-size: 20px; font-weight: 300; }

.caption-content { max-width: 526px; }

.caption-content p { color: #000; font-size: 14px; margin-bottom: 10px; }

.card { border-radius: 0; padding: 0; }

.card-header { border: 0; border-radius: 0; padding: 10px  40px; }
.card-header p { margin: 0; font-size: 12px; color: #000; }

.card-body { padding: 0; }

.grid { margin: 0 50px; }

.white-circle { width: 100px; height: 100px; border: 1px solid #ffffff; border-radius: 50%; text-align: center; margin: 0 auto 20px auto; }
.white-circle h2 { text-align: center; line-height: 1.8; }

ul.work-process > li { position: relative; padding-left: 50px; margin-bottom: 5px; color: #000; font-family: "Century Gothic"; }
ul.work-process > li:before { content: '\f005'; font-family: FontAwesome; position: absolute; color: #ffffff; left: 0; width: 30px; height: 30px; }

/* ==========================================================================
> about start
========================================================================== */
.about { position: relative; background: url("../images/image31.jpg") no-repeat center center; background-size: cover; height: 100vh; color: #ffffff; text-align: center; }
.about:before { content: ''; background-color: rgba(2, 3, 3, 0.5); width: 100%; height: 100%; position: absolute; left: 0; right: 0; display: block; margin: 0 auto; }
.about a { color: #ffffff; font-size: 14px; text-decoration: underline; }
.about a:hover { color: #E60023; }

.about-content { padding: 100px 0; }
.about-content p { margin-bottom: 30px; line-height: 1.4; }

/* ==========================================================================
> team start
========================================================================== */
.team-circle { background-position: center center; background-size: cover; width: 100px; height: 100px; border-radius: 50%; border: 2px solid #000000; }

.team-content-area { padding: 20px 0; }

.team-img { float: left; padding: 10px 20px; }

.team-content { float: left; width: calc(100% - 100px); }
.team-content p { color: #000; margin-bottom: 0; }

.inner-main { padding: 80px 0 0 0; }

/* ==========================================================================
> sign-area start
========================================================================== */
.sign-area { position: relative; background: url("../images/image1.jpg") no-repeat center center; background-size: cover; height: 100vh; color: #ffffff; text-align: center; }
.sign-area:before { content: ''; background-color: rgba(2, 3, 3, 0.5); width: 100%; height: 100%; position: absolute; left: 0; right: 0; display: block; margin: 0 auto; }

.modal-title { margin: 0 auto; padding: 20px 0 10px 0; }

.modal-header { border: 0; }

.modal-header .close { margin: 0; font-family: "Century Gothic"; font-weight: 400; color: #000; opacity: 1; text-shadow: none; outline: 0; padding: 0; }
.modal-header .close:hover { color: #E60023; }

.welcomemodal .modal-dialog, .sign-modal .modal-dialog { max-width: 430px; }

.modal-content { border-radius: 0; background-color: #F7F7F7; }

.modal-body { padding: 0 30px 30px; border: 0; }

.btn-sign { background-color: #337AB7; color: #ffffff; font-family: Arial, sans-serif; font-weight: bold; }
.btn-sign:hover { background-color: #000; }

.or-divider { position: relative; padding: 20px 0; }
.or-divider:before { content: ''; position: absolute; width: 45%; height: 1px; left: 0; top: 50%; background-color: #D8D8D8; }
.or-divider:after { content: ''; position: absolute; width: 45%; height: 1px; right: 0; top: 50%; background-color: #D8D8D8; }

.modal-footer { border-top: 2px solid #D8D8D8; width: 100%; }

.input-group-text { background-color: #F7F7F7; border-color: #D8D8D8; }

.modal .form-control { background-color: #fff; border-color: #D8D8D8 !important; }
.modal .form-control:focus { border-color: #E60023 !important; outline-color: #E60023 !important; box-shadow: none; }
.modal a { color: #337AB7; font-size: 16px; font-family: Arial, sans-serif; }
.modal a:hover { color: #000; }

.social-buttons .btn { width: 32%; border: 0; font-size: 16px; font-family: Arial, sans-serif; color: #ffffff; }
.social-buttons .btn:hover { background-color: #000; color: #ffffff; }
.social-buttons .btn-primary { background-color: #337AB7; }
.social-buttons .btn-secondary { background-color: #5BC0DE; }
.social-buttons .btn-danger { background-color: #D9534F; }

.welcomemodal .modal-content { background-color: #ffffff; }
.welcomemodal .modal-body { padding: 30px 10px; }
.welcomemodal h3 { font-size: 26px; font-weight: 300; padding: 0; margin-bottom: 40px; }
.welcomemodal p { margin: 0; padding: 50px 0; }
.welcomemodal p.small-text { font-size: 14px; max-width: 280px; margin: 0 auto; }

.border-btm { position: relative; }
.border-btm:before { content: ''; position: absolute; width: 67%; height: 1px; background-color: #000000; bottom: 0; margin: 0 auto; left: 0; right: 0; }

.btn-next { background-color: #E60023; font-weight: 400; color: #ffffff !important; border-radius: 12px; max-width: 350px; margin: 0 auto; }
.btn-next:hover { color: #ffffff !important; background-color: #000; }

/* ==========================================================================
> sign-area start
========================================================================== */
.welcome { position: relative; background: url("../images/image37.jpg") no-repeat center center; background-size: cover; height: 100vh; color: #ffffff; text-align: center; }
.welcome:before { content: ''; background-color: rgba(2, 3, 3, 0.3); width: 100%; height: 100%; position: absolute; left: 0; right: 0; display: block; margin: 0 auto; }

.gender_content { padding: 0 10px; }
.gender_content .form-check { padding: 0; }
.gender_content input[type=radio] + label { display: block; cursor: pointer; color: #202124; text-transform: unset; font-size: 14px; margin-bottom: 20px; }
.gender_content input[type=radio] { display: none; }
.gender_content input[type=radio] + label:before { content: ""; border: 0.1em solid #D8D8D8; border-radius: 50px; display: inline-block; width: 17px; text-align: center; height: 17px; line-height: 1.3em; padding-left: -0.8em; padding-bottom: 1em; margin-right: 1.2em; vertical-align: middle; color: transparent; transition: .2s; background-color: #D8D8D8; }
.gender_content input[type=radio] + label:active:before { transform: scale(0); }
.gender_content input[type=radio]:checked + label:before { background-color: #E60023; border-color: #E60023; color: #fff; }

.age-box { max-width: 300px; margin: 0 auto; }
.age-box p { padding: 30px 0; }

.item { width: 100px; height: 100px; border-radius: 3px; background-color: #E60023; position: relative; }
.item p { margin: -30px 0 0 5px; color: #ffffff; }
.item img { border-radius: 5px; }

.interest-modal h4.text { padding: 0 0 30px 0; font-weight: 300; }
.interest-modal .interest-box { height: 309px; overflow-y: scroll; }
.interest-modal ul > li.list-inline-item:not(:last-child) { margin-right: 10px; margin-bottom: 10px; }
.interest-modal .modal-lg { max-width: 650px; }
.interest-modal .modal-body { padding: 30px; }

.more-btn { width: 100%; display: block; background-color: #dddddd; color: #000 !important; }
.more-btn:hover { background-color: #E60023; }

.gallery-area { position: relative; padding: 30px 0; }
.gallery-area .form-group { border: 1px solid #dddddd; }
.gallery-area .input-group-text { background-color: #fff; border-color: #ffffff; }
.gallery-area .form-control { background-color: #fff; border-color: #ffffff; color: #000; padding: .375rem 0.5rem; }
.gallery-area .form-control:focus { background-color: #fff; border-color: #ffffff; box-shadow: none; }

/* ========================================================================== > Comment start ========================================================================== */
/* ========================================================================== > Comment start ========================================================================== */
@media (max-width: 575.98px) { .navbar-expand-lg .navbar-nav .nav-link { padding: 10px; }
  a.navbar-brand { margin: 0 auto; }
  .header.bg-red a.navbar-brand, .header.bg-pink a.navbar-brand { margin: 0; }
  .header.bg-red .navbar-expand-lg .navbar-nav .nav-link, .header.bg-pink .navbar-expand-lg .navbar-nav .nav-link { padding: 10px 10px; }
  .grid { margin: 0 50px; height: 540px !important; overflow-y: auto; }
  .navbar p { padding-left: 12px; }
  p.serach-form { width: 100%; }
  p.serach-form .form-group { width: 100%; display: block; margin-bottom: 0; }
  p.serach-form .form-control { width: 90%; display: inline-block; } }
@media (min-width: 576px) and (max-width: 767.98px) { .navbar-expand-lg .navbar-nav .nav-link { padding: 10px 10px; }
  a.navbar-brand { margin: 0 auto; }
  .header.bg-red a.navbar-brand, .header.bg-pink a.navbar-brand { margin: 0; }
  .header.bg-red .navbar-expand-lg .navbar-nav .nav-link, .header.bg-pink .navbar-expand-lg .navbar-nav .nav-link { padding: 10px 10px; }
  .grid { margin: 0 50px; height: 540px !important; overflow-y: auto; } }
@media (min-width: 768px) and (max-width: 991.98px) { .navbar-expand-lg .navbar-nav .nav-link { padding: 10px 10px; }
  a.navbar-brand { margin: 0 auto; }
  .header.bg-red a.navbar-brand, .header.bg-pink a.navbar-brand { margin: 0; }
  .header.bg-red .navbar-expand-lg .navbar-nav .nav-link, .header.bg-pink .navbar-expand-lg .navbar-nav .nav-link { padding: 10px 10px; } }

/*# sourceMappingURL=styles.css.map */
