@font-face {
  font-family: 'Century Gothic';
  src: url('../css/fonts/CenturyGothic.woff2') format('woff2'),
  url('../css/fonts/CenturyGothic.woff') format('woff'),
  url('../css/fonts/CenturyGothic.ttf') format('truetype'),
  url('../css/fonts/CenturyGothic.svg#CenturyGothic') format('svg');
  font-weight: normal;
  font-style: normal;
}

.after {
  position: absolute;
  content: " ";
  display: block;
  left: 0;
  top: 0;
}

a{
  font-size: $base-font-size;
}

a, input[type=text], .btn {
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.btn, .btn.focus, .btn:focus, a:hover, a:focus, a:active {
  box-shadow: none;
  outline: none;
}

@mixin input-placeholder {
  &.placeholder {
    @content;
  }
  &:-moz-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  &:-ms-input-placeholder {
    @content;
  }
  &::-webkit-input-placeholder {
    @content;
  }
}

input,
textarea {
  @include input-placeholder {
    color: $black;
  }
}

@mixin top-title($font_size,$lh) {
  h2 {
    font-size: $font_size;
    line-height: $lh;
  }
}

.top-title {
  @include top-title(38px, 1.4);
}



.pink{
 color: $light-pink;
}
.dark-pink{
 color: $pink-dark;
}
.purple{
 color: $bg-purple-soft;
}
.purple-light{
 color: $bg-purple-light;
}
.orange{
 color: $bg-gym-orange;
}
.orange-dark{
 color: $orange-dark;
}
.blue{
 color: $blue;
}
.merun{
 color: $title-color-cont;
}
.red-text{
 color: $red;
}
.white-text{
  color: $white;
}
.black-text{
  color: $black;
}

.pt-80{
  padding-top: 80px;
}
.bg-red{
  background-color: $red;
}
.bg-pink{
  background: rgb(255,1,91);
  background: linear-gradient(90deg, rgba(255,1,91,1) 0%, rgba(255,79,141,1) 41%, rgba(254,102,155,1) 100%);
}
body.modal-open {
  overflow: hidden;
  padding: 0 !important;
}
.modal.show{
padding: 0 !important;
}


.gallery-area {
  padding-top: 50px;

  .gallery-wrap {
    width: 100%;
  }

  .gallery-item{
    float: left;
    width: 21.05263157894737%;
    height: 250px;
    margin: 20px;
    display: block;
    transition: all 0.35s ease-in-out;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    a{
      position: relative;
      display: block;
      box-shadow: 0px 33px 95px 0px rgba(0, 0, 0, 0.15);
    }

  }

  .h-500{
    height: 500px;
  }
  .w-800{
    width: 51.21638924455826%;
  }
  .w-355{
    width: 22.72727272727273%;
  }

  .wt-500{
    width: 26.31578947368421%;
  }
  .w-614{
    width: 39.30857874519846%;
  }
  .h-300{
    height: 300px;
  }

  .h-250{
    height: 250px;
  }
  .h-200{
    height: 200px;
  }
  .wt-300{
    width: 300px;
  }
  .wt-250{
    width: 250px;
  }
  .wt-180{
    width: 180px;
  }

  .wt-100{
    width: 100px;
  }
  .wt-200{
    width: 200px;
  }

  .h-400{
    height: 400px;
  }

}



/* ==========================================================================
  > sidebar nav
  ========================================================================== */
/* top: nav .navbar */

.header-top .header{
  position: fixed;
  width: 100%;
  z-index: 9;
}
.header-top #menu-action {
  display: block;
  float: left;
  width: 60px;
  height: 50px;
  line-height: 50px;
  margin-right: 15px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  background: rgba(0, 0, 0, 0.15);
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 1px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.header-top #menu-action i {
  display: inline-block;
  margin: 0 5px;
}
.header-top #menu-action span {
  width: 0px;
  display: none;
  overflow: hidden;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.header-top #menu-action:hover {
  background: rgba(0, 0, 0, 0.25);
}
.header-top #menu-action.active {
  width: 250px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.header-top #menu-action.active span {
  display: inline;
  width: auto;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.sidebar {
  position: fixed;
  z-index: 10;
  left: 0;
  top: 50px;
  height: 100%;
  width: 60px;
  background: #fff;
  border-right: 1px solid #ddd;
  text-align: center;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.sidebar:hover,
.sidebar.active,
.sidebar.hovered {
  width: 250px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.sidebar ul li {
  display: block;
}
.sidebar ul li a {
  display: block;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  border-bottom: 1px solid #ddd;
  color: #444;
  text-align: left;
}
.sidebar ul li a i {
  display: inline-block;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  -webkit-animation-duration: 0.7s;
  -moz-animation-duration: 0.7s;
  -o-animation-duration: 0.7s;
  animation-duration: 0.7s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
}
.sidebar ul li a span {
  display: inline-block;
  height: 60px;
  line-height: 60px;
}
.sidebar ul li a:hover {
  background-color: #eee;
}
.main {
  position: relative;
  display: block;
  top: 50px;
  left: 0;
  padding: 15px;
  padding-left: 75px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.main.active {
  padding-left: 275px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.main .jumbotron {
  background-color: #fff;
  padding: 30px !important;
  border: 1px solid #dfe8f1;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.main .jumbotron h1 {
  font-size: 24px;
  margin: 0;
  padding: 0;
  margin-bottom: 12px;
}
@-webkit-keyframes swing {
  20% {
    -webkit-transform: rotate3d(0, 0, 1, 15deg);
    transform: rotate3d(0, 0, 1, 15deg);
  }
  40% {
    -webkit-transform: rotate3d(0, 0, 1, -10deg);
    transform: rotate3d(0, 0, 1, -10deg);
  }
  60% {
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
    transform: rotate3d(0, 0, 1, 5deg);
  }
  80% {
    -webkit-transform: rotate3d(0, 0, 1, -5deg);
    transform: rotate3d(0, 0, 1, -5deg);
  }
  100% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
}
@keyframes swing {
  20% {
    -webkit-transform: rotate3d(0, 0, 1, 15deg);
    -ms-transform: rotate3d(0, 0, 1, 15deg);
    transform: rotate3d(0, 0, 1, 15deg);
  }
  40% {
    -webkit-transform: rotate3d(0, 0, 1, -10deg);
    -ms-transform: rotate3d(0, 0, 1, -10deg);
    transform: rotate3d(0, 0, 1, -10deg);
  }
  60% {
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
    -ms-transform: rotate3d(0, 0, 1, 5deg);
    transform: rotate3d(0, 0, 1, 5deg);
  }
  80% {
    -webkit-transform: rotate3d(0, 0, 1, -5deg);
    -ms-transform: rotate3d(0, 0, 1, -5deg);
    transform: rotate3d(0, 0, 1, -5deg);
  }
  100% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    -ms-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
}
.swing {
  -webkit-transform-origin: top center;
  -ms-transform-origin: top center;
  transform-origin: top center;
  -webkit-animation-name: swing;
  animation-name: swing;
}
.bs-callout {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
  background: white;
}
table {
  background: white;
}
.bs-callout h4 {
  margin-top: 0;
  margin-bottom: 5px;
}
.bs-callout p:last-child {
  margin-bottom: 0;
}
.bs-callout code {
  border-radius: 3px;
}
.bs-callout + .bs-callout {
  margin-top: -5px;
}
.bs-callout-default {
  border-left-color: #777;
}
.bs-callout-default h4 {
  color: #777;
}
.bs-callout-primary {
  border-left-color: #428bca;
}
.bs-callout-primary h4 {
  color: #428bca;
}
.bs-callout-success {
  border-left-color: #5cb85c;
}
.bs-callout-success h4 {
  color: #5cb85c;
}
.bs-callout-danger {
  border-left-color: #d9534f;
}
.bs-callout-danger h4 {
  color: #d9534f;
}
.bs-callout-warning {
  border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
  color: #f0ad4e;
}
.bs-callout-info {
  border-left-color: #5bc0de;
}
.bs-callout-info h4 {
  color: #5bc0de;
}
