html,
body {
  height: 100%;
  font-size: $base-font-size;
  position: relative;
  font-family: Arial,sans-serif;
  color: $black;
}

html {
  overflow-y: scroll;
}

body {
  min-width: 100px;
  line-height: 1.3;
  font-style: normal;
}

a {
  cursor: pointer;
  text-decoration: none;
  font-style: normal;
}

a:hover,
a:focus,
a:active {
  text-decoration: none;
  font-style: normal;
  outline: none;
}

img {
  border: 0;
  vertical-align: middle;
}

ul,
ol {
  list-style-position: inside;
  list-style-type: none;
}

img {
  max-width: 100%;
}

h1,h2,h3,h4,h5,h6{
  padding: 20px 0;
  font-family: $popins;
  color: $black;
}

h2 {
  line-height: 48px;
  font-style: normal;

}

h3 {
  line-height: 30px;
  font-style: normal;
}

h4 {
  line-height: 25px;
  font-style: normal;
 font-size: 28px;

}

h5 {
  line-height: 20px;
  font-style: normal;

}

h6 {
  line-height: 18px;
  font-style: normal;


}


/* ==========================================================================
  > header
  ========================================================================== */
.header {
  position: absolute;
  width: 100%;
  z-index: 9999;
}

.navbar {
  padding: .5rem 40px;
  background-color: transparent;
}



.navbar-nav > li > a {
  padding:20px 18px;
  display: block;
}



/* Megadrop width dropdown */
.navbar-nav > li > .megadrop {
  opacity: 1;
  visibility: hidden;
  position: fixed;
  list-style: none;
  top:70px;
  left: 0px;
  width: 100%;
  min-height: 100px;
  text-align: left;
   margin: 0;
 padding-bottom: 20px;
  z-index: 99;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
  background-color: $white;
  .title{
    font-size: 16px;
    padding: 10px 0;
    font-weight: bold;
    margin: 5px 0 5px 0;
    color: $black;
    text-decoration: underline;
    &:hover{
      color: $red;
    }
   }
}
.navbar-nav > li:hover .megadrop {
  opacity: 1;
  visibility: visible;
  margin-top: 0px;
}
.navbar-nav ul li:hover:after {
  color: $red;
}

.navbar-nav .col ul {
  padding: 0;
  margin: 0;
}
.navbar-nav .col ul li {
  padding: 0;
  list-style: none;
  font-size: 11px;
}
.navbar-nav .col h3 {
  font-size: 16px;
  padding: 10px 0;
  font-weight: bold;
  margin: 5px 0 5px 0;
  color: $black;
}
.navbar-nav .col ul li a {
  display: block;
  padding: 0 0 7px 0;
  color: $black;
  font-size: 12px;
  font-family: Arial, sans-serif;
}
.navbar-nav .col ul li a:hover {
  color: $red;
  text-decoration: underline;
}
.navbar-nav > li > ul li ul, .menu li >ul li, .menu > li > .megadrop, .menu > li > ul, .menu > li {
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-outs;
}



a.navbar-brand{
 font-family: $roboto;
  font-size: 24px;
  &:hover{
   color: $red;
  }
}
.navbar-expand-lg .navbar-nav .nav-link{
  padding: 30px 10px;
  font-size: $base-font-size;
  font-family: $gothic;
  color: $black;
  &:hover{
    color: $red;
  }
}
.navbar-expand-lg .navbar-nav .nav-item.active .nav-link{
  color: $red;
 }

.navbar{
  p{
    margin: 0;
    color: $black;
    >a{
      background-color: transparent;
      color: $black;
      &:hover{
        color: $red;
      }
    }
  }
  .form-inline .form-group{
    background: transparent;
    border: 1px solid $black;
    border-radius: 20px;
    padding: 0px;
  }
  .form-inline .form-control{
    background: transparent;
    border: 0;
    font-size: 14px;
    font-family: $gothic;
    padding: 3px;
    border-radius: 20px;
    color: $black;
    outline: 0;
    &::placeholder{
      color: $black;
    }
    &::-moz-placeholder{
      color: $black;
    }
    &::-webkit-input-placeholder{
      color: $black;
    }
    &:focus{
      outline: 0;
      border: 0;
      box-shadow:none;
    }
  }
  .form-inline i{
    font-size: 16px;
    margin-right: 8px;
  }
}

.navbar-toggler{
  padding: 0;
  outline: 0;
  &:focus{
    outline: 0;
  }
}
button[aria-expanded="true"]{
  color: $red;
}

.header.bg-red,.header.bg-pink{
  .navbar-toggler{
    padding-right: 30px;
  }
  .navbar{
    padding: 0;
  }
  button[aria-expanded="true"]{
    color: $white;
  }
  .navbar-expand-lg .navbar-nav .nav-link{
    padding: 29px 10px;
    font-size: $base-font-size;
    font-family: $gothic;
    color: $black;
    &:hover{
      color: $white;
    }
  }
  .navbar-expand-lg .nav-item.active .nav-link{
    color: $white;
  }
  .navbar p > a{
    &:hover{
      color: $white;
    }
  }
  //.navbar-collapse{
  //  background-color: $red;
  //}
  .navbar-brand{
    width: 80px;
    height: 80px;
    padding: 15px 0;
    background-color: $white;
    margin-right: 75px;
  }
  .form-inline{
    padding-right: 75px;
  }

}
header.bg-white {
  .navbar-toggler{
    padding-right: 30px;
  }
  .navbar{
    padding: 0;
  }
  .navbar-brand{
    width: 80px;
    height: 80px;
    padding: 15px 0;
    background-color: $white;
    margin-right: 75px;
  }
  .form-inline{
    padding-right: 75px;
  }
}

.circle-logo{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid $white;
  background-color: $red;
  text-align: center;
  margin: 0 auto;
  display: block;
  color: $white;
  line-height: 46px;
  font-size: 16px;
}

.header.bg-pink{
  .navbar-brand{
    width: 80px;
    height: 80px;
    padding: 15px 0;
    background-color: transparent;
    margin-right: 75px;
  }
  .circle-logo{
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 24px;
    border: 1px solid $white;
    font-family: Arial, sans-serif;
    background-color: transparent;
  }
}
/* ==========================================================================
> communities start
========================================================================== */
.communities{
 position: relative;
  padding: 20px 0 105px 0;
  background-color: #dddddd;

  .container {
    max-width: 1200px;
  }

  h5{
    font-size: 18px;
    padding: 30px 0;
  }
  span{
    color: #8a8a8a;
  }
}
.community-box{
  border: 1px solid $black;
  min-height: 650px;
  border-radius: 40px;
  background-color: $white;
}
/* ==========================================================================
> slider-area start
========================================================================== */

.slider-area {
  //height: 100vh;
  width: 100%;
  flex-wrap: wrap;
  z-index: 100;
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
  opacity: 1;


  > div {
    height: 100vh;
  }

  .slick-slider {
    margin-bottom: 0;
  }


  .slick-slide {
    outline: none;
    background-size: cover;
    height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    position: relative;
    border: 0;
  }

  .slide {
    background-position: center center;
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: cover;
    height: 100vh;
    outline: none;
    overflow: hidden;
  }
  .item:nth-child(2){
    .slide{
      &:before{
        content: '';
        background-color: rgba(2, 3, 3, 0.73);
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        right: 0;
        display: block;
        margin: 0 auto;
      }
    }
  }

  .slick-dots {
    margin: 0 auto;
    text-align: center;
    bottom: 167px;
    z-index: 1;
    position: absolute;
    left: 2%;
    padding: 0;
    width: 30px;

    li {
      display: inline-block;
      margin: 8px 0px;
    }

    li button {
      height: 20px;
      width: 20px;
      background-color: transparent;
      border: 1px solid #fff;
      border-radius: 50%;
      box-shadow: none;
      outline: none;
      text-indent: -9999px;
      &:before {
        display: none;
      }
    }

    li.slick-active {
      button {
        background-color: rgb(255, 255, 255);
      }
    }
  }


}

.slick-dotted.slick-slider {
  margin: 0;
  z-index: 0;
}

.caption {
  .custom-btn {
    background-color: $red;
    color: #ffffff;
    font-size: 14px;
    font-family: $gothic;
    font-weight: 400;
    width: auto;
    outline: none;
    box-shadow: none;
    border-radius: 8px;
    padding: 8px 30px;
    display: inline-block;
    border: none;
  }

 h1{
   font-weight: $w-300;
 }
}

.caption{
  .circle{
    width: 150px;
    height: 150px;
    margin: 0 auto;
    border: 1px solid $white;
    border-radius: 50%;
    h1{
      line-height: 110px;
      margin: 0;
      font-size: 70px;
      font-weight: 300;
    }
  }
}
.first-header {
  width: 100%;
  z-index: 9999;
  background-color: #fff;
  //position: relative;
}

.app-button {
  width: 410px;
  margin: 0 auto;
  padding: 20px 0;

  div {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 200px;
    height: 65px;
    padding: 10px;
    border-radius: 6px;
  }
}

.align-items-center.caption {
  .container {
    max-width: 700px;
    margin: 0 auto;
  }
  p.content-box{
    max-width: 400px;
    margin: 0 auto;
    line-height: 1.5;
  }
}
.black-circle{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid $black;
  text-align: center;
  margin-bottom: 10px;
  h2{
    margin: 0;
    line-height: 1;
    font-size: 20px;
    font-weight: $w-300;
  }
}
.caption-content {
  max-width: 526px;
}
.caption-content p{
  color: $black;
  font-size: 14px;
  margin-bottom: 10px;
}
.card{
  border-radius: 0;
  padding: 0;
}
.card-header{
  border: 0;
  border-radius: 0;
  padding: 10px  40px;
  p{
    margin: 0;
    font-size: 12px;
    color: $black;
  }
}
.card-body{
  padding:0 ;
}

.grid{
  margin: 0 50px;
}

.white-circle{
  width: 100px;
  height: 100px;
  border: 1px solid $white;
  border-radius: 50%;
  text-align: center;
  margin: 0 auto 20px auto;
  h2{
    text-align: center;
    line-height: 1.8;
  }
}

ul.work-process>li{
  position: relative;
  padding-left: 50px;
  margin-bottom: 5px;
  color:$black;
  font-family: $gothic;
  &:before{
    content: '\f005';
    font-family: FontAwesome;
    position: absolute;
    color: $white;
    left: 0;
    width: 30px;
    height: 30px;
  }
}
/* ==========================================================================
> about start
========================================================================== */
.about{
  position: relative;
  background: url("#{$assetPath}/image31.jpg") no-repeat center center;
  background-size: cover;
  height: 100vh;
  color: $white;

  text-align: center;
  &:before{
    content: '';
    background-color: rgba(2, 3, 3, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    display: block;
    margin: 0 auto;
  }

  a{
    color: $white;
    font-size: 14px;
    text-decoration: underline;
    &:hover{
      color: $red;
    }
  }

}
.about-content{
  padding: 100px 0;
  p{
    margin-bottom: 30px;
    line-height: 1.4;
  }
}
/* ==========================================================================
> team start
========================================================================== */
.team-circle{
  background-position: center center;
  background-size: cover;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid #000000;
}
.team-content-area{
  padding: 20px 0;
}
.team-img{
  float: left;
  padding: 10px 20px;
}
.team-content{
  float: left;
  width: calc(100% - 100px);
  p{
    color: $black;
    margin-bottom: 0;
  }
}
.inner-main{
  padding: 80px 0 0 0;
}
/* ==========================================================================
> sign-area start
========================================================================== */
.sign-area{
  position: relative;
  background: url("#{$assetPath}/image1.jpg") no-repeat center center;
  background-size: cover;
  height: 100vh;
  color: $white;
  text-align: center;
  &:before{
    content: '';
    background-color: rgba(2, 3, 3, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    display: block;
    margin: 0 auto;
  }
}

.modal-title{
  margin: 0 auto;
  padding: 20px 0 10px 0;
}

.modal-header {
  border: 0;
}
.modal-header .close{
  margin: 0;
  font-family: $gothic;
  font-weight: 400;
  color: $black;
  opacity: 1;
  text-shadow: none;
  outline: 0;
  padding: 0;
  &:hover{
    color: $red;
  }
}
.welcomemodal, .sign-modal{
  .modal-dialog {
    max-width: 430px;
  }
}

.modal-content{
  border-radius: 0;
  background-color: #F7F7F7;
}
.modal-body{
  padding: 0 30px 30px;
  border: 0;
}
.btn-sign,.sign-btn{
  background-color: #337AB7;
  color: $white;
  font-family: Arial, sans-serif;
  font-weight: bold;
  &:hover{
    background-color: $black;
  }
}


.or-divider{
  position: relative;
  padding: 20px 0;
  &:before{
    content: '';
    position: absolute;
    width: 45%;
    height: 1px;
    left: 0;
    top: 50%;
    background-color: #D8D8D8;

  }
  &:after{
    content: '';
    position: absolute;
    width: 45%;
    height: 1px;
    right: 0;
    top: 50%;
    background-color: #D8D8D8;
  }
}
.modal-footer{
  border-top: 2px solid #D8D8D8;
  width: 100%;
}
.input-group-text{
  background-color: #F7F7F7;
  border-color: #D8D8D8;
}
.modal{
  .form-control{
    background-color: #fff;
    border-color: #D8D8D8 !important;
    &:focus{
      border-color:$red !important;
      outline-color: $red !important;;
      box-shadow: none;
    }
  }
  a{
    color: $white;
    font-size: 16px;
    font-family: Arial, sans-serif;
    &:hover{
      color: $white;
    }
  }
}
.social-buttons{
  .btn{
    width: 32%;
    border: 0;
    font-size: 16px;
    font-family: Arial, sans-serif;
    color: $white;
    &:hover{
      background-color: $black;
      color: $white;
    }
  }
  .btn-primary{
    background-color: #337AB7;
  }
  .btn-secondary{
    background-color:#5BC0DE;
  }
  .btn-danger{
    background-color:#D9534F;
  }
}

.welcomemodal{
  .modal-content{
  background-color: $white;
  }
  .modal-body{
   padding: 30px 10px;
  }
  h3{
    font-size:26px;
    font-weight: $w-300;
    padding: 0;
    margin-bottom: 40px;
  }
  p{
    margin: 0;
    padding: 50px 0;
  }
  p.small-text{
    font-size: 14px;
    max-width: 280px;
    margin: 0 auto;
  }

}
.border-btm{
  position: relative;
  &:before{
    content: '';
    position: absolute;
    width: 67%;
    height: 1px;
    background-color: #000000;
    bottom: 0;
    margin: 0 auto;
    left: 0;
    right: 0;
  }
}
.btn-next{
  background-color: $red;
  font-weight: $w-400;
  color: $white !important;
   border-radius: 12px;
  max-width: 350px;
  margin: 0 auto;
  &:hover{
    color: $white!important;
    background-color: $black ;
  }
}


/* ==========================================================================
> sign-area start
========================================================================== */
.welcome{
  position: relative;
  background: url("#{$assetPath}/image37.jpg") no-repeat center center;
  background-size: cover;
  height: 100vh;
  color: $white;
  text-align: center;
  &:before{
    content: '';
    background-color: rgba(2, 3, 3, 0.3);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    display: block;
    margin: 0 auto;
  }
}

.gender_content{
  padding: 0 10px;

  .form-check{
    padding: 0;
  }

  input[type=radio] + label {
    display: block;
    cursor: pointer;
    color: rgb(32, 33, 36);
    text-transform: unset;
    font-size: 14px;
    margin-bottom: 20px;
  }

  input[type=radio] {
    display: none;
  }

  input[type=radio] + label:before {
    content: "";
    border: 0.1em solid #D8D8D8;
    border-radius: 50px;
    display: inline-block;
    width: 17px;
    text-align: center;
    height: 17px;
    line-height: 1.3em;
    padding-left: -0.8em;
    padding-bottom: 1em;
    margin-right: 1.2em;
    vertical-align: middle;
    color: transparent;
    transition: .2s;
    background-color: #D8D8D8;

  }

  input[type=radio] + label:active:before {
    transform: scale(0);
  }

  input[type=radio]:checked + label:before {
    background-color: $red;
    border-color: $red;
    color: #fff;
  }



}

.age-box{
  max-width: 300px;
  margin:0 auto ;
  p{
    padding: 30px 0;
  }
}
.interest-box{
  .item{
    width:100px ;
    height: 100px;
    border-radius: 3px;
    background-color: $red;
    position: relative;

    p{
      margin: -30px 0 0 5px ;
      color: $white;
    }
    img{
      border-radius: 5px;


    }
  }

  li.active {

    .overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      transition: .5s ease;
      background-color: rgba(76, 76, 76, 0.58);
    }
    &:hover .overlay{
        opacity: 1;
    }

  }
}

.interest-modal{
  h4.text{
    padding: 0 0 30px 0;
    font-weight: $w-300;
  }
  .interest-box{
    height: 309px;
    overflow-y: scroll;
  }
  ul>li{
    &.list-inline-item:not(:last-child) {
      margin-right: 10px;
      margin-bottom: 10px;
    }
  }
  .modal-lg {
    max-width: 650px;
  }
.modal-body{
  padding: 30px;
}
}
.more-btn{
  width: 100%;
  display: block;
  background-color: #dddddd;
  color: $black !important;
  &:hover{
    background-color: $red;
  }
}

.gallery-area{
  position:relative ;
  padding: 30px 0;
  .form-group{
    border: 1px solid #dddddd;
  }
  .input-group-text{
    background-color: #fff;
    border-color: $white;
  }
  .form-control{
    background-color: #fff;
    border-color: $white;
    color: $black;
    padding: .375rem 0.5rem;
    &:focus{
      background-color: #fff;
      border-color: $white;
      box-shadow: none;
    }
  }
}


.home-item{
  padding: 30px 0;
  color: white;
  h2,h4{
    font-weight: $w-400;
  }
}
.list{
  ul>li>a{
    color: $white;
    font-family: Arial, sans-serif;
    padding: 10px 0;
    display: block;
    font-size: 20px;
    &:hover{
      color: $black;
    }
  }
}

.self-grid {
  .self-item {
    float: left;
    width: 45%;
    height: 350px;
    margin: 0 10px 20px 10px;
    display: block;
    transition: all 0.35s ease-in-out;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: 2px solid transparent;
    &:hover{
     border-color: $red;
    }
  }
  .wt-59{
    width: 50%;
  }


}
.user-icon{
  width: 40px;
  height: auto;
  display: inline-block;
  border-radius: 50%;
  border: 1px solid $black;
}
.circle-img{
  width: 40px;
  height: 40px;
  display: inline-block;
  border-radius: 50%;
}
.client-review{
  max-width: 240px;
  padding: 15px 10px;
  position: absolute;
  bottom: 30px;
  left: 2%;
  z-index: 9999;
  background-color: $white;
  &:before{
    content: '';
    position: absolute;
    left: 30px;
    bottom: -21%;
    width: 60px;
    height: 30px;
    border-top: solid 30px $white;
    border-left: solid 30px transparent;
    border-right: solid 30px transparent;
  }
  .media-body{
    p{
      margin: 0;
    }
  }
}


.ask-search-box{
  h3{
    color: $black;
    position: relative;
    &:before{
      content: '';
      position: absolute;
      width: 12%;
      height: 2px;
      background-color: #000;
      margin: 0 auto;
      bottom: 17px;
      left: 0;
      right: 0;
      display: block;
    }
  }
  .form-group{
    border: 2px solid $black;
    display: block;
    padding: 7px;
    border-radius: 50px;
    background-color: $white;
    p{
      margin: 0;
    }
    .form-control{
      width: 90%;
      display: inline-block;
      border: 0;
      outline: 0;
      box-shadow: none;
    }
    i{
      font-weight: 700;
    }
  }
}

.ask-area{
  position: relative;
  padding: 20px 0 100px 0;
  h5.title{
    max-width: 225px;
    font-weight: $w-300;
  }
}
.list-sex-type{
  li>a{
    color: $black;
    font-size: 14px;
    font-family: Arial, sans-serif;
    padding: 5px 0;
    text-decoration: underline;
    display: block;
    &:hover{
      color: $red;
    }
  }
}
.default-search{
  .form-group{
    background-color: #dddddd;
    padding: 2px;
    border-radius: 8px;
    margin: 0;
  }
  .form-control{
    background-color: transparent;
    border: 0;
    outline: 0;
    box-shadow: none;
    padding-left: 0;
    padding-right: 0;
  }
   .input-group>.input-group-prepend>.input-group-text{
     background-color: transparent;
     border: 0;
   }

}
.week-container{
  max-width: 700px;
  margin: 0 auto;
  border-top: 1px solid $black;
  padding-top: 40px;
}
.week-content-box{
  h2{
    padding: 0;
    line-height: 36px;
    font-weight: $w-400;
  }
  p.date{
    color: #8d8d8d;
    font-size: 14px;

  }
}
.week-content-box p>img{
    width: 40%;
    float: left;
    margin-right: 20px;
}

.social-share{
  .btn{
    border-radius: 0;
    color: $white;
    width: 24%;
    &:hover{
      background-color: $black;
    }
  }
  .btn-fb{
    background-color: #47639E;
  }
  .btn-tw{
    background-color: #1DA1F2;
  }
  .btn-ev{
    background-color: #4c4c4c;
  }
  .btn-sh{
    background-color: #35a930;
  }
}
.week-content-box {
 p{
   line-height: 1.5;
 }
}
.suggest-title{
  position: relative;
  &:before{
    content: '';
    position: absolute;
    width: 68%;
    height: 2px;
    background-color: $red;
    margin: 0 auto;
    bottom: 17px;
    left: 0;
    display: block;
  }
}

.week-area{
  position: relative;
  padding: 10px 0 50px 0;
}
.error-text{
 width: 100%;
  display: block;
  text-align: center;
}